<div class="container-fluid p-3">
    <form class="formBorder" [formGroup]="formValue">
        <mat-card class="border rounded p-3 mb-3 create_project">
            <mat-form-field appearance="outline">
                <mat-label>Project Name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Admin</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Admin" matInput formControlName="admin"
                    [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let admin of admins" [value]="admin">
                        {{admin}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="sdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="edate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <div class="py-3 mt-3" style="display: inline-block; width: 25%; padding-left: 3%;">
                <mat-label class="heading-text" style="font-size: medium;">Status: &nbsp;</mat-label>
                <mat-slide-toggle formControlName="status" #myToggle class="heading-text">{{ myToggle.checked ? "Active"
                    : "Inactive" }}</mat-slide-toggle>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Manager</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Manager" matInput formControlName="manager"
                    [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete">
                    <mat-option *ngFor="let manager of managers" [value]="manager">
                        {{manager}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 60%;">
                <mat-label>Tasks</mat-label>
                <mat-chip-list #chipList aria-label="Task selection">
                    <mat-chip *ngFor="let task of tasksSelected" (removed)="remove(task)">
                        <div *ngIf="task.selected">{{task.task}}</div>
                        <i class="material-icons" matChipRemove>cancel</i>
                    </mat-chip>
                    <input placeholder="" #taskInput formControlName="tasks" [matAutocomplete]="auto"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let task of allTasks" [value]="allTasks.task">
                        <div (click)="optionClicked($event, task);">
                            <mat-checkbox [checked]="task.selected" (change)="toggleSelection(task)"
                                (click)="$event.stopPropagation()">
                                {{ task.task }}
                            </mat-checkbox>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-card>
        <mat-expansion-panel class="mb-3" hideToggle="true" #roles>
            <mat-expansion-panel-header>
                <mat-panel-title class="justify-content-start">
                    <mat-icon [ngClass]="{'primary-font-color' : roles.expanded , 'text-secondary' : !roles.expanded}">
                        {{roles.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </mat-icon> &nbsp;
                    <span class="ml-2"
                        [ngClass]="{'primary-font-color' : roles.expanded , 'text-secondary' : !roles.expanded}">Roles</span>

                </mat-panel-title>
                <mat-panel-description>
                    <span class="invisible">Processing Time Taken By The Documents</span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="container-fluid rounded greybg roles">
                <div class="row">
                    <div class="col-md-2 d-flex justify-content-start align-items-center">
                        <div class="p-2"> Roles </div>
                    </div>
                    <div class="col-md-10 d-flex align-items-center">
                        <div class="p-2"> Users </div>
                    </div>
                </div>
                <div *ngFor="let rolesWithUsers of selectedProjectInfo; let i = index">
                    <div class="row">
                        <div class="col-sm-2 mt-2 white_bg d-flex justify-content-start align-items-center">
                            <i class="fa fa-id-card primary-font-color mr-2" aria-hidden="true"></i>&nbsp;
                            {{ rolesWithUsers.role }}
                        </div>
                        <div class="col-sm-9 mt-2 white_bg py-2 px-0">
                            <div class="row">
                                <div class="col-sm-11 d-flex align-items-center">
                                    <mat-chip-list aria-label="roles">
                                        <mat-chip *ngFor="let assignedUser of rolesWithUsers.users; let j = index">
                                            {{assignedUser}}
                                            <mat-icon (click)="removeRole(i, assignedUser)" matChipRemove>cancel
                                            </mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div class="col-sm-1 d-flex justify-content-center align-items-center">
                                    <button (click)="openUserListDP(userListDP, i)" mat-icon-button
                                        class="disabled-font-color"
                                        [ngClass]="{'primary-font-color' : rolesWithUsers.isEnabled }">
                                        <mat-icon color="primary" class="float-left">add_circle_outline</mat-icon>
                                    </button>
                                    <mat-select color="primary" class="hidedropDown" panelClass="over_riderMatSelect"
                                        [(ngModel)]="rolesWithUsers.users" [ngModelOptions]="{standalone: true}"
                                        #userListDP multiple>
                                        <mat-option *ngFor="let userName of userList" #el [value]="userName"
                                            [matTooltip]="userName.length > 24 ? userName : ''"> {{
                                            userName }} </mat-option>
                                    </mat-select>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 mt-2 white_bg d-flex justify-content-center align-items-center">
                            <mat-slide-toggle color="primary" [(ngModel)]="rolesWithUsers.isEnabled"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9 py-2">
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="roleMenu">
                        Add Role
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                    <mat-menu #roleMenu="matMenu" class="customize" xPosition="after">
                        <div *ngFor="let r of role">
                            <button mat-menu-item (click)="addRole(r)">{{ r }}</button>
                        </div>
                    </mat-menu>
                </div>
            </div>
        </mat-expansion-panel>
        <div class="container-fluid p-3">
            <div class="my-3 text-right mr-3 " style="float: right;">
                <button mat-raised-button color="primary" style="margin-right:15px" (click)="updateData()"> Update
                </button>
                <button mat-stroked-button color="accent" [routerLink]="['/wrapper/projects']">Cancel</button>
            </div>
        </div>
    </form>
</div>