<div class="global-container">
    <div class="row">
        <div class="col-md-6">
            <div class="login-bg">
                <div class="card login-form">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="./../../assets/images/nts.png" class="img-fluid login-logo" alt="">
                        </div>
                        <div class="card-text">
                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <label class="mb-1 label">Email ID</label>
                                <div style="position: relative;">
                                    <input class="form-input" type="text" formControlName="username">
                                </div>
                                <label class="mb-1 label">Password</label>
                                <div style="position: relative;">
                                    <input class="form-input password" type="password" formControlName="password">
                                </div>
                                <div class="text-right forgot-password"><a>Forgot Password?</a></div>
                                <button class="w-100 login-btn mt-3" type="submit" mat-raised-button color="warn">Log In</button>
                                <div class="login-footer py-3">
                                    <span><b>Powered By</b><a href="https://neutrinotechsystems.com/" target="_blank"> <img src="./../../assets/images/nts.png"  class="img-fluid powered-logo" alt=""></a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
